body{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 margin: 0;
}

.btn{
    background-color: rgb(193, 153, 153);
    color: rgb(0, 0, 0);
    border: 1px;
    padding: 5px 10px;
    border-radius: 4px;
}
